<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlnz:th="http://www/thymeleaf.org">
<head th:include="fragments/header :: head (title='Many Ways')"></head>

    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h1 class="display-1">Many Ways</h1>

                <p class="lead" style="padding: 1em 0;">Enter a term you'd like to search, then click begin.</p>

                <input type="text" class="form-control"/>

                <a class="btn btn-lg" href="/login">Begin</a>
                
                <p style="padding: 1em 0;">Keep an open mind. Things change.</p>

            </div>
        </div>

        <div th:replace="fragments/footer :: footer">&nbsp;</div>
    </body>

</html>
