<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlnz:th="http://www/thymeleaf.org">
<head th:include="fragments/header :: head (title='Many Ways')"></head>

    <body>
        
        <style>
            ::-webkit-input-placeholder {
                text-align: center;
             }

             ::-moz-placeholder { /* Firefox 18- */
                text-align: center;  
             }

             ::-moz-placeholder {  /* Firefox 19+ */
                text-align: center;  
             }

             ::-ms-input-placeholder {  
                text-align: center; 
             }
        </style>
        
        <div class="container">
            <div style="padding-top: 3em;"></div>
            <div class="text-center">
                                
                <h1 class="display-1">Many Ways</h1>

                <p class="lead" style="padding-top: 2em; font-weight: 600;">A collection of human stories about overcoming difficulties.</p>

                <form th:action="@{/search}" method="post" style="margin-top: 1.5em;">
                    
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="form-group col-sm-6 text-center">
                            <input class="form-control" 
                                   type="text" 
                                   name="query" 
                                   id="query"
                                   placeholder="Search for a story by entering text here."
                                   /> 
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="text-center" style="padding-top:0.5em;">
                        <input class="btn btn-success btn-lg" type="submit" value="Search"/>
                    </div>
                </form>
                
                <p class="lead" style="font-weight: 300; padding-top:2.2em;">Discover the <a class=" text-success" href="/principles">principles</a> behind this website, support it by <a href="/contribute" class="text-success">contributing</a>.</p>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer">&nbsp;</div>
    </body>

</html>
