<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlnz:th="http://www/thymeleaf.org">
<head th:include="fragments/header :: head (title='Many Ways')"></head>

    <body>
        
        <div class="container">
            <div style="padding-top: 1em;"></div>
            <div class="text-center">
                                
                <h1 class="display-1">Many Ways</h1>

                <p class="lead" style="padding-top: 1em;">A collection of human stories about overcoming difficulties.</p>

                <form th:action="@{/search}" method="post" style="margin-top: 1em;">
                    
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="form-group col-sm-6 text-center">
                            <input class="form-control" 
                                   type="text" 
                                   name="query" 
                                   id="query"
                                   placeholder="Search for posts here."
                                   /> 
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="text-center" style="padding-top:0.4em;">
                        <input class="btn btn-success" type="submit" value="Search"/>
                    </div>
                </form>
                
                <p class="" style="padding-top: 3em;">To read more about the principles behind this website, <a href="/principles">click here</a>.</p>
                
            </div>
        </div>

        <div th:replace="fragments/footer :: footer">&nbsp;</div>
    </body>

</html>
