<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlnz:th="http://www/thymeleaf.org">
<head th:include="fragments/header :: head (title='Principles')"></head>

    <body>
        <div class="container">
            <div th:include="fragments/header :: header">Navigation bar.</div>
            
            <section>
                <div class="text-center">
                    <p class="display-3">Principles</p>
                </div>
            </section>

        </div>

        <div th:replace="fragments/footer :: footer">&nbsp;</div>
    </body>

</html>
