<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlnz:th="http://www/thymeleaf.org">
<head th:include="fragments/header :: head (title='Many Ways | Principles')"></head>

    <body>
        <div class="container">
            <div th:include="fragments/header :: header">Navigation bar.</div>
            
            <section>
                <div class="text-center">
                    <p class="display-3">Principles</p>
                </div>
                
                <div class="row" style="padding-top: 1em;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <ul>
                            <li class='lead' style="padding-top: 0.2em;" >We should experiment with different ways to overcome our difficulties.</li>
                            <li class='lead' style="padding-top: 0.2em;" >There is no one single solution that works for everyone.</li> 
                            <li class='lead' style="padding-top: 0.2em;" >It can take a lot of work, a lot of trying different things, and probably a combination of several different approaches to find what works for you.</li>
                            <li class='lead' style="padding-top: 0.2em;" >Improvement and progress is possible.</li>
                            <li class='lead' style="padding-top: 0.2em;" >You are worth this effort.</li>
                        </ul>
                        <p style="padding-top: 0.7em;"> Real stories are shared on this website to help visitors understand that they are not alone in facing their issues, with quotes used to capture key insights. </p>
                        <p> Through reading another person's story, identifying and empathising with the writer, some of our shame is lessened in turn. </p>
                        <p> When we learn how they faced their difficulty, new possibilities for how we face our own difficulties open up to us. </p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </section>

        </div>

        <div th:replace="fragments/footer :: footer">&nbsp;</div>
    </body>

</html>
