<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlnz:th="http://www/thymeleaf.org">
<head th:include="fragments/header :: head (title='Search Results')"></head>

    <body>
        <div class="container">
            <div th:include="fragments/header :: header">Navigation bar.</div>
            
            <!-- Search Results Header -->
            <section>
                <div class="text-center">
                    <p class="lead" th:text="${'We found these search results for ' + searchQuery.getQuery() + '.'}">Search Results</p>
                </div>
                
                <p>Tags</p>
            </section>
            
            <!-- The Search Results -->
            <section>
                <div class="" th:each="quoteStory: ${QuoteStories}">
                    
                    <div th:if="${quoteStory.type == 'story'}">
                        <p th:text="${quoteStory.story.getTitle()}"></p>
                    </div>
                    
                    <div th:if="${quoteStory.type == 'quote'}">
                        <p th:text="${quoteStory.quote.getQuote()}"></p>
                    </div>
                    
                </div>
            </section>
        </div>

        <div th:replace="fragments/footer :: footer">&nbsp;</div>
    </body>

</html>
